<footer class="page-footer font-small elegant-color" style="background-color: black;">

    <div class="color-primary">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 text-light">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
         
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left pt-4 pt-md-5">
  
      <!-- Grid row -->
      <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
  
          <!-- Links -->
          <h5 class="text-light">About us</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <h6 class="foot-desc mb-0 text-light">We are an e-commerce website, focused on selling soccer equipments throughout the Middle-East.</h6>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 text-light">
  
          <!-- Links -->
          <h5>Traverse</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="list-unstyled foot-desc">
            <li class="mb-2">
              <a href="/products" style="text-decoration: none;">Buy Products</a>
            </li>
            <li class="mb-2">
              <a href="/search" style="text-decoration: none;">Search</a>
            </li>
            <li class="mb-2">
              <a href="/signup" style="text-decoration: none;">Register</a>
            </li>
            <li class="mb-2">
              <a href="/login" style="text-decoration: none;">Already registered? Log in!</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4 text-light">
  
          <!-- Links -->
          <h5>Contacts</h5>
          <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
  
          <ul class="fa-ul foot-desc ml-4">
            <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Dubai, Sheikh Road 8
            </li>
            <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>042 876 836 908</li>
            <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>castsports@gmail.com</li>
            <li><span class="fa-li"><i class="far fa-clock"></i></span>Sunday - Thursday: 10-17</li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2021 Copyright:
      <a href="/"> Castsports.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>