<%- include('../views/includes/head.ejs') %>
    <title>Home</title>
</head>
<body>
    <%- include('includes/nav.ejs') %>
        <div class="jumbotron" style="background-image: url('https://images.unsplash.com/photo-1544698310-74ea9d1c8258?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2090&q=80'); height: 500px; background-size: cover;background-repeat: no-repeat; background-position: center;">
            <h1 class="display-4" style="color: white;">SoccerLite</h1>
            <p class="lead" style="color: white;">Buy now, and amplify your performance on the field!</p>
            <hr class="my-4">
            <p style="color: white;">Click below to explore!</p>
            <p class="lead">
              <a class="btn btn-outline-info btn-lg" href="/products" role="button">Explore ></a>
            </p>
        </div>
 
    
</body>
<div style="margin-top: -2.5%;">
    <%- include('includes/footer.ejs') %>
  </div>
